<!DOCTYPE html>
<html>
  <head>
    <title>Simple Shopping Cart with Tailwind</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="bg-gray-100">
    <div id="app" class="container mx-auto p-8">
      <h1 class="text-3xl font-extrabold mb-6">Produits disponibles</h1>
      <div  class="grid grid-cols-1 md:grid-cols-3 gap-6">
        <div v-for="product in products" :key="product" class="bg-white p-4 rounded-lg shadow-md">
          <h2 class="text-xl font-semibold mb-2">{{ product.name }}</h2>
          <p class="text-gray-600 mb-4">{{ product.price }}€</p>
          <button
            @click="addToCart(product)"
            class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700"
          >
            Ajouter au panier
          </button>
        </div>
      </div>

      <h1 class="text-3xl font-extrabold mt-12 mb-6">Panier</h1>
      <ul class="bg-white p-4 rounded-lg shadow-md">
        <li v-for="product in cart" :key="product" class="flex items-center justify-between border-b py-4">
          <span class="text-lg font-medium">{{ product.name }}</span>
          <span class="text-gray-600">{{ product.price }}€</span>
          <input
            type="number"
            v-model="product.quantity"
            class="w-16 text-center border rounded"
          />
          <button @click="removeFromCart(product.id)" class="text-red-500 hover:text-red-600">Retirer</button>
        </li>
      </ul>
      <h2 class="text-2xl font-extrabold mt-6">Total : {{ cartTotal }} €</h2>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

<script>

  Vue.createApp({
    data() {
      return {
        products: [            {id:0,name:"papaille",price: 20.98},
            {id:1,name:"foufourche",price: 90.58},
            {id:2,name:"bannane",price: 55.35}],
        cart: JSON.parse(localStorage.getItem("cart")) || []
      };
    },

    computed: {
        cartTotal() {
            return this.cart.reduce((sum, product) => {
                return sum + (product.price * product.quantity);
            }, 0).toFixed(2);
        }
      },

    methods: {
      addToCart(selectedProduct) {

          const existingProduct = this.cart.find(product => product.id === selectedProduct.id);

          if (existingProduct) {
              existingProduct.quantity += 1;
          } else {
              this.cart.push({
                  ...selectedProduct,
                  quantity: 1         
              });
          }
      },
      removeFromCart(productId) {

          const index = this.cart.findIndex(product => product.id === productId);

            if (index !== -1) {
                this.cart.splice(index, 1);
            }
      }
    },

    watch: {
      cart: {
        deep: true, 
        handler() {
            localStorage.setItem('cart', JSON.stringify(this.cart));
        }
      }
    }
  }).mount('#app');
</script>
</body>
</html>
